# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Dataset
flowers/
test_gambar/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/

# Windows
Thumbs.db
Desktop.ini